<!-- addevent.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Event</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Link to external stylesheet -->
  </head>
  <body>
    <nav class="navbar">
      <h1>My Events</h1>
      <div class="links">
        <a href="/">Home</a
        ><a class="new-item-link" href="/addevent">New Event</a>
      </div>
    </nav>

    <div class="content">
      <div class="create">
        <h2>Add a New Event</h2>
        <form action="/addEvent" method="POST">
          <label>Title:</label
          ><input type="text" value="" id="title" name="title" required />

          <label for="description">Description:</label>
          <textarea
            value=""
            id="description"
            name="description"
            rows="4"
            required
          ></textarea
          ><br />

          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required /><br />

          <!-- <label>Author:</label>
          <select>
            <option value="sami">Sami</option>
            <option value="rami">Rami</option></select
          ><br /> -->

          <label for="location">Location:</label>
          <input type="string" id="location" name="location" /><br />

          <button type="submit">Add Event</button>
        </form>
      </div>
    </div>
  </body>
</html>